openapi: 3.0.3
info:
  title: API.Rasp.Yandex.Net
  description: API Яндекс.Расписаний
  version: 3.0.0
servers:
- url: https://api.rasp.yandex.net
tags:
- name: Расписание рейсов между станциями
- name: Расписание рейсов по станции
- name: Список станций следования
- name: Список ближайших станций
- name: Ближайший город
- name: Информация о перевозчике
- name: Список всех доступных станций
- name: Копирайт Яндекс Ррасписаний
paths:
  /v3.0/nearest_stations/:
    get:
      tags:
      - Список ближайших станций
      operationId: getNearestStations
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: lat
        in: query
        description: широта
        required: true
        schema:
          type: number
      - name: lng
        in: query
        description: долгота
        required: true
        schema:
          type: number
      - name: distance
        in: query
        description: радиус охвата
        required: true
        schema:
          type: integer
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: lang
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stations'
                
  /v3.0/nearest_settlement/:
    get:
      tags:
      - Ближайший город
      operationId: getNearestCity
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: lat
        in: query
        description: широта
        required: true
        schema:
          type: number
      - name: lng
        in: query
        description: долгота
        required: true
        schema:
          type: number
      - name: distance
        in: query
        description: радиус охвата в км(от "10" до "50")
        required: false
        schema:
          type: integer
      - name: format
        in: query
        description: json или xml (json по умолчанию)
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: язык RU или UA
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/City'
                
  /v3.0/carrier/:
    get:
      tags:
      - Информация о перевозчике
      operationId: getСarrierInformation
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: code
        in: query
        description: код перевозчика
        required: true
        schema:
          type: string
      - name: system
        in: query
        description: cистема кодирования
        required: false
        schema:
          type: string
      - name: format
        in: query
        description: json или xml (json по умолчанию)
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: язык RU или UA
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Carriers'
                
  /v3.0/search/:
    get:
      tags:
      - Расписание рейсов между станциями
      operationId: getScheduleBetweenStations
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: from
        in: query
        description: код станции отправления
        required: true
        schema:
          type: string
      - name: to
        in: query
        description:  код станции прибытия
        required: true
        schema:
          type: string
      - name: format
        in: query
        description: json или xml (json по умолчанию)
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: язык RU или UA
        required: false
        schema:
          type: string
      - name: date
        in: query
        description: дата "YYYY-MM-DD"
        required: false
        schema:
          type: string
      - name: transport_types
        in: query
        description: тип транспортного средства
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleBetweenStations'
                
  /v3.0/schedule/:
    get:
      tags:
      - Расписание рейсов по станции
      operationId: getScheduleStation
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: station
        in: query
        description: код станции
        required: true
        schema:
          type: string
      - name: format
        in: query
        description: json или xml (json по умолчанию)
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: язык RU или UA
        required: false
        schema:
          type: string
      - name: date
        in: query
        description: дата "YYYY-MM-DD"
        required: false
        schema:
          type: string
      - name: transport_types
        in: query
        description: тип транспортного средства
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleStation'
                
  /v3.0/thread/:
    get:
      tags:
      - Список станций следования
      operationId: getRouteStations
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: uid
        in: query
        description: идентификатор нитки в Яндекс Расписаниях
        required: true
        schema:
          type: string
      - name: from
        in: query
        description: код станции отправления
        required: false
        schema:
          type: string
      - name: to
        in: query
        description: код станции прибытия
        required: false
        schema:
          type: string
      - name: format
        in: query
        description: json или xml (json по умолчанию)
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: язык RU или UA
        required: false
        schema:
          type: string
      - name: date
        in: query
        description: дата "YYYY-MM-DD"
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouteStations'
                
  /v3.0/stations_list/:
    get:
      tags:
      - Список всех доступных станций
      operationId: getStationsList
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: format
        in: query
        description: json или xml (json по умолчанию)
        required: false
        schema:
          type: string
          enum:
            - json
            - xml
          default: json
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StationsList'
            text/html:
              schema: {}
              
  /v3.0/copyright/:
    get:
      tags:
      - Копирайт Яндекс Ррасписаний
      operationId: copyright
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: format
        in: query
        description: json или xml (json по умолчанию)
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Copyright'
                
components:
  schemas:
    Stations:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        stations:
          type: array
          items:
            $ref: '#/components/schemas/Station'
            
    Pagination:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
          
    Station:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        short_title:
          type: string
        popular_title:
          type: string
        code:
          type: string
        lat:
          type: number
        lng:
          type: number
        station_type:
          type: string
        station_type_name:
          type: string
        transport_type:
          type: string
        distance:
          type: number
        majority:
          type: integer
        type_choices:
          $ref: '#/components/schemas/Schedule'
          
    Schedule:
      type: object
      properties:
        desktop_url:
          type: string
        touch_url:
          type: string
          
    City:
      type: object
      properties:
        distance:
          type: number
        code:
          type: string
        title:
          type: string
        popular_title:
          type: string
        short_title:
          type: string
        lat:
          type: number
        lng:
          type: number
        type:
          type: string
          
    Carriers:
      type: object
      properties:
        carrier:
          $ref: '#/components/schemas/Carrier'
        carriers:
          type: array
          items:
            $ref: '#/components/schemas/Carrier'
            
    Carrier:
      type: object
      properties:
        code:
          type: integer
        contacts:
          type: string
        url:
          type: string
        title:
          type: string
        phone:
          type: string
        codes:
          $ref: '#/components/schemas/Codes'
        address:
          type: string
        logo:
          type: string
        email:
          type: string
          
    Codes:
      type: object
      properties:
        icao:
          type: string
        sirena:
          type: string
        iata:
          type: string
          
    ScheduleBetweenStations:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        interval_segments:
          type: array
          items:
            $ref: '#/components/schemas/IntervalSegment'
        segments:
          type: array
          items:
            $ref: '#/components/schemas/Segment'
        search:
          $ref: '#/components/schemas/Search'
          
    IntervalSegment:
      type: object
      properties:
        from:
          $ref: '#/components/schemas/StationFrom'
        thread:
          $ref: '#/components/schemas/Thread'
        departure_platform:
          type: string
        stops:
          type: string
        departure_terminal:
          type: string
        to:
          $ref: '#/components/schemas/StationFrom'
        has_transfers:
          type: boolean
        tickets_info:
          $ref: '#/components/schemas/TicketInfo'
        duration:
          type: integer
        arrival_terminal:
          type: string
        start_date:
          type: string
        arrival_platform:
          type: string
          
    StationFrom:
      type: object
      properties:
        code:
          type: string
        title:
          type: string
        popular_title:
          type: string
        short_title:
          type: string
        transport_type:
          type: string
        type:
          type: string
        station_type:
          type: string
        station_type_name:
          type: string
          
    Thread:
      type: object
      properties:
        uid:
          type: string
        title:
          type: string
        interval:
          $ref: '#/components/schemas/Interval'
        number:
          type: string
        short_title:
          type: string
        thread_method_link:
          type: string
        carrier:
          $ref: '#/components/schemas/CarrierStation'
        transport_type:
          type: string
        vehicle:
          type: string
        transport_subtype:
          $ref: '#/components/schemas/TransportSubtype'
        express_type:
          type: string
          
    ThreadNotInterval:
      type: object
      properties:
        uid:
          type: string
        title:
          type: string
        interval:
          $ref: '#/components/schemas/Interval'
        number:
          type: string
        short_title:
          type: string
        thread_method_link:
          type: string
        carrier:
          $ref: '#/components/schemas/CarrierStation'
        transport_type:
          type: string
        vehicle:
          type: string
        transport_subtype:
          $ref: '#/components/schemas/TransportSubtype'
        express_type:
          type: string
          
    Interval:
      type: object
      properties:
        density:
          type: string
        end_time:
          type: string
        begin_time:
          type: string
          
    CarrierStation:
      type: object
      properties:
        code:
          type: integer
        contacts:
          type: string
        url:
          type: string
        title:
          type: string
        phone:
          type: string
        codes:
          $ref: '#/components/schemas/Codes'
        address:
          type: string
        logo:
          type: string
        logo_svg:
          type: string
        email:
          type: string
          
    TransportSubtype:
      type: object
      properties:
        color:
          type: string
        code:
          type: string
        title:
          type: string
          
    TicketInfo:
      type: object
      properties:
          et_marker:
            type: string
          places:
            type: array
            items:
              $ref: '#/components/schemas/Place'
              
    Place:
      type: object
      properties:
        currency:
          type: string
        price:
          $ref: '#/components/schemas/Price'
        name:
          type: string
          
    Price:
      type: object
      properties:
        cents:
          type: integer
        whole:
          type: integer
          
    Segment:
      type: object
      properties:
        arrival:
          type: string
        from:
          $ref: '#/components/schemas/StationFrom'
        thread:
          $ref: '#/components/schemas/ThreadNotInterval'
        departure_platform:
          type: string
        departure:
          type: string
        stops:
          type: string
        departure_terminal:
          type: string
        to:
          $ref: '#/components/schemas/StationFrom'
        has_transfers:
          type: boolean
        tickets_info:
          $ref: '#/components/schemas/TicketInfo'
        duration:
          type: integer
        arrival_terminal:
          type: string
        start_date:
          type: string
        arrival_platform:
          type: string
          
    Search:
      type: object
      properties:
        date:
          type: string
        to:
          $ref: '#/components/schemas/SearchToFrom'
        from:
          $ref: '#/components/schemas/SearchToFrom'
          
    SearchToFrom:
      type: object
      properties:
        code:
          type: string
        type:
          type: string
        popular_title:
          type: string
        short_title:
          type: string
        title:
          type: string
          
    ScheduleStation:
      type: object
      properties:
        date:
          type: string
        pagination:
          $ref: '#/components/schemas/Pagination'
        station:
          $ref: '#/components/schemas/StationFrom'
        schedule:
          type: array
          items:
            $ref: '#/components/schemas/ScheduleTransport'
        interval_schedule:
          type: array
          items:
            $ref: '#/components/schemas/IntervalSchedule'
        schedule_direction:
          $ref: '#/components/schemas/ScheduleDirection'
        directions:
          type: array
          items:
            $ref: '#/components/schemas/ScheduleDirection'
            
    ScheduleTransport:
      type: object
      properties:
        except_days:
          type: string
        arrival:
          type: string
        thread:
          $ref: '#/components/schemas/ThreadStation'
        is_fuzzy:
          type: boolean
        days:
          type: string
        stops:
          type: string
        departure:
          type: string
        terminal:
          type: string
        platform:
          type: string
          
    ScheduleDirection:
      type: object
      properties:
        code:
          type: string
        title:
          type: string
          
    ThreadStation:
      type: object
      properties:
        uid:
          type: string
        title:
          type: string
        number:
          type: string
        short_title:
          type: string
        carrier:
          $ref: '#/components/schemas/CarrierShot'
        transport_type:
          type: string
        vehicle:
          type: string
        transport_subtype:
          $ref: '#/components/schemas/TransportSubtype'
        express_type:
          type: string
          
    ThreadStationWithInterval:
      type: object
      properties:
        uid:
          type: string
        title:
          type: string
        interval:
          $ref: '#/components/schemas/Interval'
        number:
          type: string
        short_title:
          type: string
        carrier:
          $ref: '#/components/schemas/CarrierShot'
        transport_type:
          type: string
        vehicle:
          type: string
        transport_subtype:
          $ref: '#/components/schemas/TransportSubtype'
        express_type:
          type: string
          
    CarrierShot:
      type: object
      properties:
        code:
          type: integer
        codes:
          $ref: '#/components/schemas/Codes'
        title:
          type: string
          
    IntervalSchedule:
      type: object
      properties:
        except_days:
          type: string
        thread:
          $ref: '#/components/schemas/ThreadStationWithInterval'
        is_fuzzy:
          type: boolean
        days:
          type: string
        stops:
          type: string
        terminal:
          type: string
        platform:
          type: string
          
    RouteStations:
      type: object
      properties:
        except_days:
          type: string
        arrival_date:
          type: string
        from:
          type: string
        uid:
          type: string
        title:
          type: string
        interval:
          $ref: '#/components/schemas/Interval'
        departure_date:
          type: string
        start_time:
          type: string
        start_date:
          type: string
        number:
          type: string
        short_title:
          type: string
        days:
          type: string
        to:
          type: string
        carrier:
          $ref: '#/components/schemas/CarrierRoute'
        transport_type:
          type: string
        stops:
          type: array
          items:
            $ref: '#/components/schemas/Stop'
        vehicle:
          type: string
        transport_subtype:
          $ref: '#/components/schemas/TransportSubtype'
        express_type:
          type: string
          
    CarrierRoute:
      type: object
      properties:
        code:
          type: integer
        codes:
          $ref: '#/components/schemas/Codes'
        title:
          type: string
          
    Stop:
      type: object
      properties:
        arrival:
          type: string
        departure:
          type: string
        terminal:
          type: string
        platform:
          type: string
        station:
          $ref: '#/components/schemas/StationStop'
        stop_time:
          type: string
        duration:
          type: integer
          
    StationStop:
      type: object
      properties:
        codes:
          $ref: '#/components/schemas/StationCodes'
        title:
          type: string
        popular_title:
          type: string
        short_title:
          type: string
        code:
          type: string
        type:
          type: string
        station_type:
          type: string
        station_type_name:
          type: string
        transport_type:
          type: string
          
    StationCodes:
      type: object
      properties:
        express:
          type: string
        yandex:
          type: string
        esr:
          type: string
          
    StationsList:
      type: object
      properties:
        countries:
          type: array
          items:
            $ref: '#/components/schemas/Country'
            
    Country:
      type: object
      properties:
        regions:
          type: array
          items:
            $ref: '#/components/schemas/Region'
        codes:
          $ref: '#/components/schemas/Code'
        title:
          type: string
          
    Region:
      type: object
      properties:
        setlements:
          type: array
          items:
            $ref: '#/components/schemas/Settlement'
        codes:
          $ref: '#/components/schemas/Code'
        title:
            type: string
    Code:
      type: object
      properties:
        esr_code:
          type: string
          nullable: true
        yandex_code:
          type: string
          nullable: true
      additionalProperties: false
      
    Settlement:
      type: object
      properties:
        title:
          type: string
        codes:
          $ref: '#/components/schemas/Code'
        stations:
          type: array
          items:
            $ref: '#/components/schemas/StationShot'
            
    StationShot:
      type: object
      properties:
        title:
          type: string
        direction:
          type: string
        codes:
          $ref: '#/components/schemas/Code'
        longitude:
          type: number
        latitude:
          type: number
        station_type:
          type: string
          enum:
              - station
              - stop
              - platform
              - checkpoint
              - post
              - crossing
              - overtaking_point
              - train_station
              - airport
              - bus_station
              - bus_stop
              - unknown
              - port
              - port_point
              - wharf
              - river_port
              - marine_station
        transport_type:
            type: string
            enum:
                - plane
                - train
                - suburban
                - bus
                - water
                - helicopter
          
    Copyright:
      type: object
      properties:
        copyright:
          type: object
          properties:
            logo_vm:
              type: string
            url:
              type: string
            logo_vd:
              type: string
            logo_hy:
              type: string
            logo_hd:
              type: string
            logo_vy:
              type: string
            logo_hm:
              type: string
            text:
              type: string
